[project]
	description = A test repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ron Thomas (Ron4326)
[access "refs/for/refs/*"]
	read = group user/Ron Thomas (Ron4326)
	push = group user/Ron Thomas (Ron4326)
	label-Code-Review = -2..+2 group user/Ron Thomas (Ron4326)
	label-Verified = -1..+1 group user/Ron Thomas (Ron4326)
	rebase = group user/Ron Thomas (Ron4326)
	removeReviewer = group user/Ron Thomas (Ron4326)
	submit = group user/Ron Thomas (Ron4326)
[access "refs/heads/*"]
	read = group user/Ron Thomas (Ron4326)
	create = group user/Ron Thomas (Ron4326)
	push = +force group user/Ron Thomas (Ron4326)
	pushMerge = group user/Ron Thomas (Ron4326)
[access "refs/tags/*"]
	push = +force group user/Ron Thomas (Ron4326)
	pushTag = group user/Ron Thomas (Ron4326)
	pushSignedTag = group user/Ron Thomas (Ron4326)
[receive]
	requireChangeId = false
